* {
  padding: 0;
  margin: 0;
  font-family: "Noto Serif", serif;
}

.navbar-nav .nav-link {
  font-weight: 400;
  line-height: 32px;
  font-size: 15px;
  margin-inline: 4px;
  color: #fff;
}

.nav-link:active {
  color: #1b4965;
  background-color: #fff;
  border-radius: 33px;
}

.dropdown-toggle::after {
  display: none;
}

.ant-menu-submenu-arrow {
  display: none;
}
